.rounded-box {
    border: 1px solid black;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin: 10px;
    margin-bottom: 0px;
    background-color: lightgray;
}
.left-text {
    align-self: left;
    text-align: left;
    vertical-align: text-top;
}
.right-text {
    align-self: right;
    text-align: right;
    vertical-align: text-top;
}
.bottom-box {
    border: 1px solid black;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin: 10px;
    margin-top: 0px;
    background-color: white;
}