<mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Resume Creator</span>
            <span class="toolbar-spacer"></span>
            <mat-icon (click)="editUser()" class="toolbar-icon">create</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
<app-user></app-user>
<h2>Technical Skills</h2>
    <app-tech-skill></app-tech-skill>
<h2>Work History</h2>
    <app-job></app-job>
<h2>Education</h2>
    <app-education></app-education>
<h2>Portfolio</h2>
    <app-project></app-project>