<div *ngFor="let skillCategory of skillCategories">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h3>{{skillCategory.name}}</h3>
    </mat-expansion-panel-header>
    <table mat-table [dataSource]="filterTechSkills(skillCategory.id)">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let techSkill" class="SkillColumn">{{techSkill.name}}</td>
      </ng-container>
      <ng-container matColumnDef="skillLevel">
        <th mat-header-cell *matHeaderCellDef>Skill Level</th>
        <td mat-cell *matCellDef="let techSkill" class="SkillColumn">{{techSkill.skillLevel}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
</mat-expansion-panel>
</div>
