<div class="row1">
  <div class="col1">
    <form [formGroup]="jobsFormGroup">
      <p>
        <mat-form-field appearance="fill" style="width: 418px;">
          <mat-label>Employer</mat-label>
          <input type="text" matInput placeholder="Employer" formControlName="employer" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input type="text" matInput placeholder="Title" formControlName="title" />
        </mat-form-field>&nbsp;
        <mat-form-field appearance="fill">
          <mat-label>Role</mat-label>
          <input type="text" matInput placeholder="Role" formControlName="role" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Start Date</mat-label>
          <input type="text" matInput placeholder="Start Date" formControlName="startDate" />
        </mat-form-field>&nbsp;
        <mat-form-field appearance="fill">
          <mat-label>End Date</mat-label>
          <input type="text" matInput placeholder="End Date" formControlName="endDate" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" style="width: 418px;">
          <mat-label>Description</mat-label>
          <textarea matInput rows="4" placeholder="Description" formControlName="description"></textarea>
        </mat-form-field>
      </p>
      <div style="margin-top: 20px; text-align: center;">
        <button mat-raised-button color="primary" (click)="save()">Save</button>&nbsp;
        <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
      </div>

    </form>
  </div>
  <div class="col2">
    <div style="text-align: center; font-weight: bold;">Jobs</div>
    <table mat-table [dataSource]="this.jobs | slice: lowValue : highValue">

      <ng-container matColumnDef="employer" class="tableCol">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let item">{{item.employer}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let item">
          <mat-icon (click)="edit([item.employer])" style="margin:15px; cursor: pointer;">edit</mat-icon>
          <mat-icon (click)="delete([item.employer])  " style="cursor: pointer;">cancel</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDiplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDiplay"></tr>
    </table>
    <mat-paginator #paginator [length]="this.jobs.length" [pageSize]="5" (page)="pageEvent = getPaginatorData($event)"></mat-paginator>
  </div>
</div>
<div style="margin-top: 20px;">
  <button mat-raised-button color="primary" matStepperPrevious>Back</button>&nbsp;
  <button mat-raised-button color="primary" matStepperNext>Next</button>
</div>
